################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/resources/SQL_Manager.txt
/Ensuring_Database_Connection.txt
/resources/TestUsers.txt