@{
    Layout = "_OrderLayout";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <p>Thanks for placing your order.</p>
                <p>We'll ship your goods as soon as possible.</p>
                <a asp-action="PostLogin" asp-controller="Home" class="btn btn-primary btn-lg btn-block">Return Home</a>
            </div>
        </div>
    </div>
</div>