@using Nizami.Infrastructure
@model Product

<!--This html code generates a list of cards with product info-->
<div class="col">
	<div class="card h-100" id="productCards">

		<img src="@Model.Image" class="card-img-top h-50" alt="">

		<div class="card-body">

			<h3>@Model.Name</h3>
			<p>@Model.Description</p>
			<p>@Model.Price.ToString("c")</p>
		</div>
	</div>
</div>
