@using Nizami.Infrastructure
@model Product

<div class="col mb-5">
    <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top" src="@Model.Image" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <h5 class="fw-bolder">@Model.Name</h5>
                <p>@Model.Description</p>
                <p>@Model.Price.ToString("c")</p>
            </div>
        </div>
    </div>
</div>
