.navbar.navbar-brand {
    margin-left: 50px;
    font-size: 40px;
    font-family: 'Comic Sans MS';
    color: #193d2b;
}

.navbarNavAltMarkup button{
    background: black;
    border-color: black;
}

#sidebar a{
    border: 2px solid blue;
    border-radius: 10px;
    gap: 20px;
}

.btn-primary {
    margin: 5px;
    background-color: #7FC37E;
    border-color: #7FC37E;
}

.btn-primary:hover {
    background-color: #2F7739;
    border-color: #2F7739;
}

.btn-group.float-right a:hover {

    background-color: #2F7739;
    border-color: #2F7739;
}



.modal-body {
    background-color: #7FC37E;
}

.input-group{
    width: 50%;
    margin-left: 15%;
}

#item {
    background-color: #7FC37E;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #FEFEE2;
}

