.navbar.navbar-brand {
    margin-left: 50px;
    font-size: 40px;
    font-family: 'Comic Sans MS';
    color: #193d2b;
}

.navbar.navbar-custom.ms-auto button{
    background: black;
    border-color: black;
    margin-right: 30px;
}

.btn-primary {
    margin: 5px;
}

.modal-body {
    background-color: #7FC37E;
}

.bg-image {
    background-image: url('/logo/png/High Resolution Logo.png');
    background-attachment: scroll;
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.input-group{
    width: 50%;
    margin-left: 15%;
}

#item {
    background-color: #7FC37E;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #FEFEE2;
}