.current-page {
    background-color: #68abde;
    border-color: ##68abde;
}

#pageNumber a:hover {
    background-color: #68abde;
    border-color: #ffffff;
}

#pages {
    margin-top: 10px;
    margin-bottom: 10px;
}

#productCards {
    background-color: #7FC37E;
}
