<!DOCTYPE html>
<html>
<head>
 <style>
body {
  font-family: Arial;
  margin: 0;
  font-weight: bold;
}

html {
  box-sizing: border-box;
}

.header {
                padding: 30px;
                text-align: center;
                background: #343a40;
                color: white;
                font-size: 30px;
            }
            
*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: #68abde;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


@@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
 
</style>
</head>

<body>

<div class="header">
            <h1>Nizami</h1>
        </div>

    <div class="about-section">
        <h1>FAQ</h1>
        <h2><u>How does Nizami keep food safe?</u></h2>
        <h3>Reduce Supply Chain Product Safety Risks</h3>
        <p>
            Starting with the supply chain, we conduct detailed food safety assessments with suppliers, including store brand products and fresh, perishable foods. This includes supplier visits and certified audits that conform to the Global Food Safety Initiative (GFSI). In fact, our own food processing facilities have received food safety certification from GFSI under the Safe Quality Foods (SQF) program.
            <h3>Train Associates on Standards and Food Safety</h3>
            All associates receive thorough food safety training specific to the tasks they perform. Store managers and associates who handle fresh foods in the Deli, Bakery, Meat, Seafood, and Produce departments, receive even more extensive training. All food safety training includes instruction on proper handling, hygiene, storage, cleaning and sanitation, and pest management. We use a nationally accredited Food Protection Manager Certification training program to help our management associates with food safety knowledge and techniques. This program extends beyond our stores and into training our support and leadership associates in our corporate offices.
            <h3>Execute Standards and Measure Food Safety</h3>
            Under the direction of our corporate quality assurance department, each store receives monthly visits from our sanitation specialist that focus on cleaning and sanitation. Additionally, our food safety specialists conduct regular store visits and provide support to help maintain food safety. Stores also have comprehensive food safety audits at least twice a year, conducted by an independent professional food safety management organization that reviews our practices and helps our associates understand the keys to maintaining a safe food environment. To support our stores, a cross-functional team of corporate associates conducts quarterly assessments of our food safety performance and recommends continuous quality improvement efforts.
            <h3>Remove Recalled Product from Retail</h3>
            It is the responsibility of grocery retailers to provide our customers with safe, high-quality products. Sometimes our suppliers or federal food safety authorities notify us of product recalls. We work quickly to remove any recalled product from our stores and warehouse locations. To help share recall information with our customers, we have a Recall Information Center inside our stores as well as online recall communication tools.
            <h3>Improve Customer Service and Food Safety</h3>
            Nizami works closely with the Partnership for Food Safety Education to help extend key food safety messaging into the homes and communities of the families we serve. This includes simple messages to help everyone maintain food safety: Clean, Separate, Cook, and Chill.
        </p>
        <h2><u>How to keep food safe while cooking?</u></h2>
        <p>
            Cook ground meat or ground poultry until it reaches a safe internal temperature. Color is not a reliable indicator of doneness.
            Keep food hot after cooking, at 140F or above.
            Bring sauces, soups, and gravy to a boil when reheating.
            Use a food thermometer to measure the internal temperature of cooked foods particularly meat, poultry, seafood, egg dishes, leftovers, and casseroles. Follow the safe minimum cooking temperatures for these foods.
        </p>
        <h2><u>How to avoid cross contamination?</u></h2>
        <p>
            Use one cutting board for fresh produce and a separate one for raw meat, poultry, and seafood.
            Separate raw meat, poultry, seafood, and eggs from other foods in your grocery shopping cart, grocery bags, and refrigerator.
            Never place cooked food on a plate that previously held raw meat, poultry, seafood, or eggs.
            Keep raw meat, poultry, and seafood away from ready-to-eat foods.
        </p>
        <h2><u>How to keep food clean during preparation?</u></h2>
        <p>
            Rule #1: Be sure to wash your hands with warm water and soap for 20 seconds before and after handling food.
            Wash cutting boards, dishes, utensils, and countertops with hot, soapy water after preparing each food item, and before you use them again.
            Consider using paper towels to clean up kitchen surfaces. If you use cloth towels, wash them frequently on the hot cycle of your washing machine.
            Rinse fresh fruits and vegetables under running tap water, even those with rinds and skins that you don't plan to eat. Scrub firm produce, such as melons and cucumbers, with a clean produce brush.
            Do not wash meat, poultry, or eggs. Washing can actually help bacteria spread because their juices may splash into (and contaminate) your sink and countertops.
            Be sure to clean your kitchen surfaces and tools frequently to prevent spreading bacteria.
        </p>
        <h2><u> How can I get more information about a particular dietary supplement such as whether it is safe and effective?</u></h2>
        <p>
            To get a list of all vitamins and minerals and how much you need, check out the free online tool from the U.S. Department of Agriculture. Just input a few pieces of information about yourself including your age, height, and weight. You also can get a list of your daily calorie, protein, and other nutritional needs. Keep in mind that the amounts of vitamins and minerals you need include everything you get from food and beverages you may or may not need a dietary supplement to achieve these amounts. Talk with your healthcare provider to help you determine which supplements, if any, might be valuable for you. For more detailed information about each vitamin and mineral, read our vitamin and mineral fact sheets.

            In addition, you can get good sources of information on eating well from the Dietary Guidelines for Americans and ChooseMyPlate.
        </p>
        <h2><u> How can I get more information about a particular dietary supplement such as whether it is safe and effective?</u></h2>
        <p>
            Scientific evidence supporting the benefits of some dietary supplements (e.g., vitamins and minerals) is well established for certain health conditions, but others need further study.

            Research studies in people to prove that a dietary supplement is safe are not required before the supplement is marketed, unlike for drugs. This is due to the way dietary supplements are regulated by the U.S. Food and Drug Administration (FDA). It is the responsibility of dietary supplement manufacturers/distributors to ensure that their products are safe and that their label claims are truthful and not misleading. If the FDA finds a supplement to be unsafe once it is on the market, only then can it take action against the manufacturer and/or distributor, such as by issuing a warning or requiring the product to be removed from the marketplace.

            The manufacturer does not have to prove that the supplement is effective, unlike for drugs. The manufacturer can say that the product addresses a nutrient deficiency, supports health, or reduces the risk of developing a health problem, if that is true. If the manufacturer does make a claim, it must be followed by the statement “This statement has not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.”

            Dietary supplements are not intended to treat, diagnose, mitigate, prevent, or cure disease. In some cases, dietary supplements may have unwanted effects, especially if taken before surgery or with other dietary supplements or medicines, or if you have certain health conditions. Supplements should not replace prescribed medications or the variety of foods important to a healthful diet.

            Do not self-diagnose any health condition. Work with your healthcare provider to determine how best to achieve optimal health. Also, check with your healthcare provider before taking a supplement, especially if you take any medicines or other dietary supplements or if you have any health conditions.
        </p>
        <h2><u>Where can I find free, accurate information about vitamins, minerals, herbs, and other dietary supplements?</u></h2>
        <p>Good places to start are the ODS dietary supplement fact sheets, which provide helpful information about dietary supplement ingredients including recommended amounts, health effects, safety, and medication interactions. Many of the ODS fact sheets come in three versions—the easy-to-read Consumer version in both English and Spanish, and the more detailed Health Professional version. Read them online or print a copy. In addition, Herbs at a Glance fact sheets from the National Center for Complementary and Integrative Health (NCCIH) provide basic information on specific herbs and botanicals—common names, uses, potential side effects, and resources for more information. </p>
        <h2><u>Where can I find out how much of each vitamin and mineral I need?</u></h2>
        <p>
            To get a list of all vitamins and minerals and how much you need, check out the free online tool from the U.S. Department of Agriculture. Just input a few pieces of information about yourself including your age, height, and weight. You also can get a list of your daily calorie, protein, and other nutritional needs. Keep in mind that the amounts of vitamins and minerals you need include everything you get from food and beverages—you may or may not need a dietary supplement to achieve these amounts. Talk with your healthcare provider to help you determine which supplements, if any, might be valuable for you.
        </p>
    </div>

    <div class="about-section">
        <h1>Nizami Website Policies</h1>
        <h2><u>Terms of Use</u></h2>
        <p>
            The websites, mobile websites, mobile applications, WiFi, or other online services owned or operated by or on behalf of Nizami Inc. are made avilable to you by Nizamiand are subject to the following terms and conditions PLEASE READ THE FOLLOWING TERMS OF USE CAREFULLY BEFORE USING THE SERVICES. By using the Services, you agree that these Terms of Use create a legally binding agreement between you and Nizami. Nizami  reserves the right, at any time, to modify these Terms of Use. By continuing to use the Services following such modifications you agree to be bound by such modifications. We will post our most current Terms of Use on this page, and you should periodically visit this page to review them.


            Please note that some of our Services or specific portions or features of our Services may be subject to additional policies, terms, or conditions ("Additional Terms"). Please review all Additional Terms for the Services you use, which are incorporated into and made a part of these Terms of Use. If there is a conflict between these Terms of Use and any of the Additional Terms, the conflicting Additional Terms shall take precedence with respect to your use of those Services that are governed by those conflicting Additional Terms. Finally, these Terms of Use incorporate by reference any other notices contained on the Services and constitute the entire agreement between you and Nizami with respect to your access to and use of the Services.
        </p>
        All associates receive thorough food safety training specific to the tasks they perform. Store managers and associates who handle fresh foods in the Deli, Bakery, Meat, Seafood, and Produce departments, receive even more extensive training. All food safety training includes instruction on proper handling, hygiene, storage, cleaning and sanitation, and pest management. We use a nationally accredited Food Protection Manager Certification training program to help our management associates with food safety knowledge and techniques. This program extends beyond our stores and into training our support and leadership associates in our corporate offices.

        <h2><u>Communications and Notices</u></h2>
        <p>
            By providing your telephone number to us in any electronic, digital, or other written form, including via e-mail, website form, text message, telephone keypress, or voice recording, you authorize us to deliver or cause to be delivered to you, telemarketing and other calls and SMS/text messages using an automatic telephone dialing system or an artificial or pre-recorded voice. You expressly consent to receive and authorize these calls and messages for any purpose, including but not limited to telemarketing and advertising benefits and services that may be of interest, for the purpose of servicing your account, payment and billing, collecting any amounts you may owe, fundraising efforts and donations, informational updates, and for our operations and operational improvements. You understand that you need not agree as a condition to purchase any goods or services and that calls and messages could result in interruption or data use or charges according to your plan.


            You may also communicate with us via e-mail, postal mail, telephone, the mobile applications, our website, and other services. We may issue notices via these various channels, including by sending e-mails to an address you provide us. You agree that such notices shall have legal effect. You also agree that any notices sent by e-mail satisfy any requirement that notices be provided in writing. You may have the right to withdraw your consent to receive certain emails and notices from mobile applications, and, when required by law, we will provide you with paper copies of notices upon request. You agree that you may make such a request by contacting us. To receive, access, and retain the notices we send via e-mail, you must have Internet access and a computer or device with a compatible web browser. You will also need software capable of viewing files in PDF format. Your device or computer must have the ability to print, or download and store, e-mails and PDF files. By accepting these terms, you confirm that you are able to receive, access, and retain the notices we may send. You may update your contact information through the Services.
        </p>

        <h2><u> Conduct and Security on the Services</u></h2>
        <p>
            You are not permitted to engage in any conduct that, as determined in our sole discretion, restricts, inhibits, or interferes with the ability of any other person to use or enjoy the Services. You may use the Services only for lawful purposes. You are prohibited from: (a) accessing or using the Services to collect information about users of the Services; (b) violating or attempting to violate the security of the Services; or (c) using any device, software, or routine to interfere or attempt to interfere with the proper working of the Services or any activity conducted via the Services.

        </p>
        <h2><u>Health & Wellness Content </u></h2>
        <p>
            Any health and wellness content presented on the Services is for general informational purposes only. Such content is not intended to replace or serve as a substitute for professional medical advice, diagnosis or treatment, nor is it intended as a guarantee of improvement of specific conditions or weight loss. You should regularly consult a physician or other health care provider in all matters relating to physical or mental health, particularly concerning any symptoms that may require a diagnosis or medical attention.

        </p>
    </div>
</body>
</html>
