<!DOCTYPE html>
<html>
<head>
 <style>
body {
  font-family: Arial;
  margin: 0;
  font-weight: bold;
}

html {
  box-sizing: border-box;
}

.header {
                padding: 30px;
                text-align: center;
                background: #343a40;
                color: white;
                font-size: 30px;
            }
            
*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: #68abde;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


@@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
 
</style>
</head>

<body>

<div class="header">
            <h1>Nizami</h1>
        </div>

<div class="about-section">
  <h1>FAQ</h1>
  <h2>How does Nizami keep food safe?</h2>
  <h3>Reduce Supply Chain Product Safety Risks</h3>
<p>Starting with the supply chain, we conduct detailed food safety assessments with suppliers, including store brand products and fresh, perishable foods. This includes supplier visits and certified audits that conform to the Global Food Safety Initiative (GFSI). In fact, our own food processing facilities have received food safety certification from GFSI under the Safe Quality Foods (SQF) program.
<h3>Train Associates on Standards and Food Safety</h3>
All associates receive thorough food safety training specific to the tasks they perform. Store managers and associates who handle fresh foods in the Deli, Bakery, Meat, Seafood, and Produce departments, receive even more extensive training. All food safety training includes instruction on proper handling, hygiene, storage, cleaning and sanitation, and pest management. We use a nationally accredited Food Protection Manager Certification training program to help our management associates with food safety knowledge and techniques. This program extends beyond our stores and into training our support and leadership associates in our corporate offices.
<h3>Execute Standards and Measure Food Safety</h3>
Under the direction of our corporate quality assurance department, each store receives monthly visits from our sanitation specialist that focus on cleaning and sanitation. Additionally, our food safety specialists conduct regular store visits and provide support to help maintain food safety. Stores also have comprehensive food safety audits at least twice a year, conducted by an independent professional food safety management organization that reviews our practices and helps our associates understand the keys to maintaining a safe food environment. To support our stores, a cross-functional team of corporate associates conducts quarterly assessments of our food safety performance and recommends continuous quality improvement efforts.
<h3>Remove Recalled Product from Retail</h3>
It is the responsibility of grocery retailers to provide our customers with safe, high-quality products. Sometimes our suppliers or federal food safety authorities notify us of product recalls. We work quickly to remove any recalled product from our stores and warehouse locations. To help share recall information with our customers, we have a Recall Information Center inside our stores as well as online recall communication tools.
<h3>Improve Customer Service and Food Safety</h3>
Nizami works closely with the Partnership for Food Safety Education to help extend key food safety messaging into the homes and communities of the families we serve. This includes simple messages to help everyone maintain food safety: Clean, Separate, Cook, and Chill.</p>
  <h2>How to keep food safe while cooking?</h2>
  <p>Cook ground meat or ground poultry until it reaches a safe internal temperature. Color is not a reliable indicator of doneness.
Keep food hot after cooking, at 140F or above.
Bring sauces, soups, and gravy to a boil when reheating.
Use a food thermometer to measure the internal temperature of cooked foods particularly meat, poultry, seafood, egg dishes, leftovers, and casseroles. Follow the safe minimum cooking temperatures for these foods.</p>
   <h2>How to avoid cross contamination?</h2>
   <p>Use one cutting board for fresh produce and a separate one for raw meat, poultry, and seafood.
Separate raw meat, poultry, seafood, and eggs from other foods in your grocery shopping cart, grocery bags, and refrigerator.
Never place cooked food on a plate that previously held raw meat, poultry, seafood, or eggs.
Keep raw meat, poultry, and seafood away from ready-to-eat foods.</p>
    <h2>How to keep food clean during preparation?</h2>
    <p>Rule #1: Be sure to wash your hands with warm water and soap for 20 seconds before and after handling food.
Wash cutting boards, dishes, utensils, and countertops with hot, soapy water after preparing each food item, and before you use them again.
Consider using paper towels to clean up kitchen surfaces. If you use cloth towels, wash them frequently on the hot cycle of your washing machine.
Rinse fresh fruits and vegetables under running tap water, even those with rinds and skins that you don't plan to eat. Scrub firm produce, such as melons and cucumbers, with a clean produce brush.
Do not wash meat, poultry, or eggs. Washing can actually help bacteria spread because their juices may splash into (and contaminate) your sink and countertops.
Be sure to clean your kitchen surfaces and tools frequently to prevent spreading bacteria.</p>
</div>
</body>
</html>
