@{
    ViewData["Title"] = "Home Page";
}

<!--When adding a new css file, it must be enclosed on a section tag and then referenced in the layout.cshtml by using RenderSection()-->
@section Head{
	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true"/>
}

@section Header{
    <!--Header and buttons-->
	<a class="navbar navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nizami</a>
	<div class="navbar navbar-custom navbar-right">
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signup">Sign Up</button>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login">Log In</button>
	</div>
			
	<!--Sign Up Modal Form-->
	<div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signupLabel" aria-hidden="true">
				
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
							
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							
					<div class="signupForm">
						<h1 class="text-center">Sign Up</h1>
								
						<form>
									
							<div class="mb-3 mt-4">
								<label for="usernameSignup" class="form-label">Username</label>
								<input type="text" class="form-control" id="usernameSignup" aria-describedby="usernameHelp">
							</div>
									
							<div class="mb-3 mt-4">
								<label for="email" class="form-label">Email address</label>
								<input type="email" class="form-control" id="email" aria-describedby="emailHelp">
							</div>
									
							<div class="mb-3">
								<label for="passwordSignup" class="form-label">Password</label>
								<input type="password" class="form-control" id="passwordSignup">
							</div>
									
							<div class="mb-3">
								<label for="passwordConfirm" class="form-label">Confirm Password</label>
								<input type="password" class="form-control" id="passwordConfirm">
							</div>
									
							<button type="submit" class="btn btn-dark">Sign Up</button>        
						</form>  
					</div>
				</div>     
			</div>  
		</div>
	</div> 
			
	<!--Login Modal Form-->
	<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
				
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
							
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							
					<div class="loginForm">
						<h1 class="text-center">Log In</h1>
								
						<form>
									
							<div class="mb-3 mt-4">
								<label for="usernameLogin" class="form-label">Username</label>
								<input type="text" class="form-control" id="usernameLogin" aria-describedby="usernameHelp">
							</div>
									
							<div class="mb-3">
								<label for="passwordLogin" class="form-label">Password</label>
								<input type="password" class="form-control" id="passwordLogin">
							</div>
									
							<button type="submit" class="btn btn-dark">Log In</button>
							<p>Not a member?<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signup" data-bs-dismiss="modal" aria-label="Close">Sign Up Now</button></p>
						</form>  
					</div>
				</div>     
			</div>  
		</div>
	</div>
}

@section Body{
	<div class="bg-image"></div>
}

@section Footer{
		<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">	
			<div class="me-5 d-none d-lg-block">
				<span>Nizami's Information</span>
			</div>
		</section>
			
		<section class="footer-subsection">
				
			<div class="container text-center text-md-start mt-5">     
				<div class="row mt-3">
						
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<h6 class="text-uppercase fw-bold mb-4">Company name</h6>
						<p>Here you can use rows and columns to organize your footer content. Lorem ipsum
						dolor sit amet, consectetur adipisicing elit.</p>
					</div>
						
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<h6 class="text-uppercase fw-bold mb-4">Products</h6>
						<p><a href="#!" class="text-reset">[ADD LINK]</a></p>
						<p><a href="#!" class="text-reset">[ADD LINK]</a></p>
						<p><a href="#!" class="text-reset">[ADD LINK]</a></p>
						<p><a href="#!" class="text-reset">[ADD LINK]</a></p>
					</div>

					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
						<p><a href="#!" class="text-reset">[ADD LINK]</a></p>
						<p><a href="#!" class="text-reset">[ADD LINK]</a></p> 
						<p><a href="#!" class="text-reset">[ADD LINK]</a></p>
						<p><a href="#!" class="text-reset">[ADD LINK]</a></p>
					</div>
						
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
						<p><i class="fas fa-home me-3"></i>[ADD ITEM]</p>
						<p><i class="fas fa-envelope me-3"></i>[ADD ITEM]</p>
						<p><i class="fas fa-phone me-3"></i>[ADD ITEM]</p>
						<p><i class="fas fa-print me-3"></i>[ADD ITEM]</p>
					</div>
				</div>
			</div>
		</section>
}
