@{
    ViewData["Title"] = "Home Page";
}

@section Header{
    <!--Header and buttons-->
		<li class="nav-item">
			<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#signup">Sign Up</button>
		</li>
		<li class="nav-item">
			<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#login">Log In</button>
		</li>	

	<!--Sign Up Modal Form-->
	<div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signupLabel" aria-hidden="true">
				
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
							
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							
					<div class="signupForm">
						<h1 class="text-center">Sign Up</h1>
								
						<form>
									
							<div class="mb-3 mt-4">
								<label for="usernameSignup" class="form-label">Username</label>
								<input type="text" class="form-control" id="usernameSignup" aria-describedby="usernameHelp">
							</div>
									
							<div class="mb-3 mt-4">
								<label for="email" class="form-label">Email address</label>
								<input type="email" class="form-control" id="email" aria-describedby="emailHelp">
							</div>
									
							<div class="mb-3">
								<label for="passwordSignup" class="form-label">Password</label>
								<input type="password" class="form-control" id="passwordSignup">
							</div>
									
							<div class="mb-3">
								<label for="passwordConfirm" class="form-label">Confirm Password</label>
								<input type="password" class="form-control" id="passwordConfirm">
							</div>
									
							<button type="submit" class="btn btn-dark">Sign Up</button>        
						</form>  
					</div>
				</div>     
			</div>  
		</div>
	</div> 
			
	<!--Login Modal Form-->
	<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
				
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
							
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							
					<div class="loginForm">
						<h1 class="text-center">Log In</h1>
								
						<form>
									
							<div class="mb-3 mt-4">
								<label for="usernameLogin" class="form-label">Username</label>
								<input type="text" class="form-control" id="usernameLogin" aria-describedby="usernameHelp">
							</div>
									
							<div class="mb-3">
								<label for="passwordLogin" class="form-label">Password</label>
								<input type="password" class="form-control" id="passwordLogin">
							</div>
									
							<button type="submit" class="btn btn-dark">Log In</button>
							<p>Not a member?<button type="button" class="btn" id="modalClose" data-bs-target="#signup" data-bs-toggle="modal">Sign Up Now</button></p>
						</form>  
					</div>
				</div>     
			</div>  
		</div>
	</div>
}

@section Products{
	<div class="row row-cols-1 row-cols-md-3 g-4">
		@model ProductsListViewModel
		@foreach (var p in Model.Products)
		{
			//this will call the html code inside the ProductSummary partial view
			@Html.Partial("ProductSummary", p)								
		}
	</div>
	<div class="row" id="pages">
		<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
		 page-class="btn" page-class-normal="btn-default"
		 page-class-selected="current-page" page-url-category="@Model.CurrentCategory" class="btn-group float-right" id="pageNumber">
		</div>
	</div>
}

@section Footer{
		<p class="col-md-4 mb-0 text-muted">© 2022 Nizami, Inc</p>
		<a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
			<img src="/logo/png/logo-no-background.png" alt="" width="40" height="32" class="d-inline-block align-text-top">
		</a>

		<ul class="nav col-md-4 justify-content-end">
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
			<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
		</ul>
}
